.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group button {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.input-group button {
    width: 40%;
    cursor: pointer;
}

#senha {
    position: relative;
}

#senha input[type="password"] {
    padding-right: 40px;
}

#senha button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
